# Import Dependencies

In [1]:
from scipy.stats import linregress
import matplotlib.pyplot as plt
from scipy import stats
import pandas as pd
import numpy as np
import requests
import time
import json

## Load the Data

In [2]:
# read the saved data:
music_df = pd.read_csv("../Output_Data/all_data_genre.csv", encoding = "Latin-1")
print(len(music_df))
music_df.head()

817

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%,Deezer Album ID,Deezer Genre
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,Major,80,89,83,31,0,8,4,463574485,Asian Music
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,Major,71,61,74,7,0,10,4,410083687,Rap/Hip Hop
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,Major,51,32,53,17,0,31,6,484372295,Pop
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,Major,55,58,72,11,0,11,15,108447472,Pop
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,Minor,65,23,80,14,63,11,6,442984025,Latin Music

## Remove Duplicated Rows and Unwanted Columns

In [3]:
# Using Pandas remove duplicated Rows
unduplicated_music_df = music_df.drop_duplicates(subset=["track_name", "artist(s)_name",
                                                         "released_year", "released_month", 
                                                         "Deezer Album ID"], keep=False,\
                                                         inplace=False)
len(unduplicated_music_df)

813

In [4]:
# Remove Unwanted Columns:
final_music_df = unduplicated_music_df.drop(columns=["in_shazam_charts", "released_day",
                                                      "mode", "danceability_%", "valence_%",
                                                      "energy_%", "acousticness_%",
                                                      "instrumentalness_%", "liveness_%",
                                                      "speechiness_%", "Deezer Album ID"])
# final_music_df.columns
final_music_df.head(1)

,track_name,artist(s)_name,artist_count,released_year,released_month,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,in_apple_charts,in_deezer_playlists,in_deezer_charts,bpm,key,Deezer Genre
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,553,147,141381703,43,263,45,10,125,B,Asian Music

### Rename Columns Then Remove Empty Cells

In [5]:
# First, using pandas Rename the columns
final_music_df = final_music_df.rename(columns={"track_name": "Track Name", "artist(s)_name": "Artist(s) Name",
                                                "artist_count": "Artist Count",
                                                "released_year": "Released Year", "released_month": "Released Month", 
                                                "in_spotify_playlists": "Spotify Playlists Ranking",
                                                "in_spotify_charts": "Spotify Charts Ranking", "streams": "Spotify Streams",
                                                "in_apple_playlists": "Apple Playlists Ranking", 
                                                "in_apple_charts": "Apple Charts Ranking",
                                                "in_deezer_playlists": "Deezer Playlists Ranking",
                                                "in_deezer_charts": "Deezer Charts Ranking",
                                                "bpm": "BPM", "key": "Key"})

# Now remove all empty cells - NOTE: most empty cells are in the "Deezer Genre" column
cleaned_final_music_df = final_music_df.dropna()

print(len(cleaned_final_music_df))
cleaned_final_music_df.head(3)

695

,Track Name,Artist(s) Name,Artist Count,Released Year,Released Month,Spotify Playlists Ranking,Spotify Charts Ranking,Spotify Streams,Apple Playlists Ranking,Apple Charts Ranking,Deezer Playlists Ranking,Deezer Charts Ranking,BPM,Key,Deezer Genre
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,553,147,141381703,43,263,45,10,125,B,Asian Music
1,LALA,Myke Towers,1,2023,3,1474,48,133716286,48,126,58,14,92,C#,Rap/Hip Hop
2,vampire,Olivia Rodrigo,1,2023,6,1397,113,140003974,94,207,91,14,138,F,Pop

In [6]:
# The Track Name ""Love Grows (Where My Rosemary Goes)"" has an error in the 
# "Spotify Streams" Column so we will remove it using drop by index.

# drop by index
cleaned_final_music_df = cleaned_final_music_df.drop([478])
len(cleaned_final_music_df)

694

In [7]:
print(cleaned_final_music_df[["Spotify Streams", "Deezer Playlists Ranking"]].dtypes)

# Convert the values in the "Spotify Streams" AND "Deezer Playlists Ranking" Columns to integer
# First convert the Spotify Streams Column
cleaned_final_music_df["Spotify Streams"] = cleaned_final_music_df["Spotify Streams"].astype("int64")

# For the "Deezer Playlist" column we have to remove the "," then convert the string to an interger.
cleaned_final_music_df["Deezer Playlists Ranking"] = cleaned_final_music_df["Deezer Playlists Ranking"].str.replace(",", "")
cleaned_final_music_df["Deezer Playlists Ranking"] = cleaned_final_music_df["Deezer Playlists Ranking"].astype(int) 

print("-------------------------------------------")

print(cleaned_final_music_df[["Spotify Streams", "Deezer Playlists Ranking"]].dtypes)

Spotify Streams             object
Deezer Playlists Ranking    object
dtype: object
-------------------------------------------
Spotify Streams             int64
Deezer Playlists Ranking    int32
dtype: object

In [8]:
# export to csv:
cleaned_final_music_df.to_csv("../Output_Data/cleaned_song_data.csv", encoding = "Latin-1", index=False, header=True)

<h1><center>Top Songs in 2023 - 2022 - and Prior to 2022</center></h1>

In [9]:
# Define a function that will highlight the background of a specified column.
def highlighting(inp_var, color='lightblue'):
    return [f'background-color: {color}' for i in inp_var]

## Top Songs in 2023: ____________________________________________________________________________

In [10]:
# Songs that were released in 2023:
songs_23_df = cleaned_final_music_df[cleaned_final_music_df["Released Year"] == 2023]

### `Top Songs in 2023 Spotify`

In [11]:
# Top 3 songs in '23 based on Spotify streams

# Sort the "streams" values in DESCENDING order.
top_23_streams_df = songs_23_df.sort_values(by="Spotify Streams", ascending=False) 

# Format the Streams Column for better readability.
top_23_streams_df["Spotify Streams"] = top_23_streams_df["Spotify Streams"].map("{:,}".format)

# Display the Specified Columns and Apply the highlight format:
top_23_streams_df[["Track Name", "Artist(s) Name", "Released Year", \
                  "Released Month", "Spotify Streams", "BPM", "Key", "Deezer Genre"]].\
                  head(3).style.apply(highlighting, axis=0, subset=["Spotify Streams"])

In [12]:
# Top 3 songs in '23 based on Spotify charts

# sort the "in_spotify_charts" in DESCENDING order.
top_23_Spotify_charts = songs_23_df.sort_values(by="Spotify Charts Ranking", ascending=False) 

# Display the Specified Columns and Apply the highlight format:
top_23_Spotify_charts[["Track Name", "Artist(s) Name", "Released Year", \
                  "Released Month", "Spotify Charts Ranking", "BPM", "Key", "Deezer Genre"]].head(3)\
                  .style.apply(highlighting, axis=0, subset=["Spotify Charts Ranking"])

In [13]:
# Top songs in '23 based on Spotify playlists

# sort the "in_spotify_playlists" in DESCENDING order.
top_23_Spotify_playlists = songs_23_df.sort_values(by="Spotify Playlists Ranking", ascending=False) 

# Format the Column for better readability.
top_23_Spotify_playlists["Spotify Playlists Ranking"] = top_23_Spotify_playlists["Spotify Playlists Ranking"]\
                                                                                                .map("{:,}".format)

top_23_Spotify_playlists[["Track Name", "Artist(s) Name", "Released Year", \
                  "Released Month", "Spotify Playlists Ranking", "BPM", "Key", "Deezer Genre"]].head(3)\
                  .style.apply(highlighting, axis=0, subset=["Spotify Playlists Ranking"])

### `Top Songs in 2023 Apple`

In [14]:
# Top songs in '23 based on Apple charts

# sort the "in_apple_charts" in DESCENDING order.
top_23_Apple_charts = songs_23_df.sort_values(by="Apple Charts Ranking", ascending=False) 

top_23_Apple_charts[["Track Name", "Artist(s) Name", "Released Year", \
                  "Released Month", "Apple Charts Ranking", "BPM", "Key", "Deezer Genre"]].head(3)\
                  .style.apply(highlighting, axis=0, subset=["Apple Charts Ranking"])

In [15]:
# Top songs in 23 based on Apple playlists

# sort the "in_apple_playlists" in DESCENDING order.
top_23_Apple_playlists = songs_23_df.sort_values(by="Apple Playlists Ranking", ascending=False) 

top_23_Apple_playlists[["Track Name", "Artist(s) Name", "Released Year", \
                      "Released Month", "Apple Playlists Ranking", "BPM", "Key", "Deezer Genre"]].head(3)\
                      .style.apply(highlighting, axis=0, subset=["Apple Playlists Ranking"])

### `Top Songs in 2023 Deezer`

In [16]:
# Top songs in 23 based on Deezer charts

# sort the "in_deezer_charts" in DESCENDING order.
top_23_Deezer_charts = songs_23_df.sort_values(by="Deezer Charts Ranking", ascending=False) 

top_23_Deezer_charts[["Track Name", "Artist(s) Name", "Released Year", \
                      "Released Month", "Deezer Charts Ranking", "BPM", "Key", "Deezer Genre"]].head(3)\
                      .style.apply(highlighting, axis=0, subset=["Deezer Charts Ranking"])

In [17]:
# Top songs in 23 based on Deezer playlists

# sort the "in_deezer_playlists" in DESCING order.
top_23_Deezer_playlists = songs_23_df.sort_values(by="Deezer Playlists Ranking", ascending=False)

top_23_Deezer_playlists[["Track Name", "Artist(s) Name", "Released Year", \
                      "Released Month", "Deezer Playlists Ranking", "BPM", "Key", "Deezer Genre"]].head(3)\
                      .style.apply(highlighting, axis=0, subset=["Deezer Playlists Ranking"])

## Top Songs in 2022: ____________________________________________________________________________

In [18]:
# Songs that were released in 2022:
songs_22_df = cleaned_final_music_df[cleaned_final_music_df["Released Year"] == 2022]

### `Top Songs in 2022 Spotify`

In [19]:
# Top songs in '22

# Sort the "streams" values in DESCENDING order.
top_22_streams_df = songs_22_df.sort_values(by="Spotify Streams", ascending=False) 

# Format the Streams Column for better readability.
top_22_streams_df["Spotify Streams"] = top_22_streams_df["Spotify Streams"].map("{:,}".format)

# Display the Specified Columns and Apply the highlight format:
top_22_streams_df[["Track Name", "Artist(s) Name", "Released Year", \
                  "Released Month", "Spotify Streams", "BPM", "Key", "Deezer Genre"]].\
                  head(3).style.apply(highlighting, axis=0, subset=["Spotify Streams"])

In [20]:
# Top songs in '22 based on Spotify charts

# sort the "in_spotify_charts" in DESCENDING order.
top_22_Spotify_charts = songs_22_df.sort_values(by="Spotify Charts Ranking", ascending=False) 

top_22_Spotify_charts[["Track Name", "Artist(s) Name", "Released Year", \
                      "Released Month", "Spotify Charts Ranking", "BPM", "Key", "Deezer Genre"]].\
                      head(3).style.apply(highlighting, axis=0, subset=["Spotify Charts Ranking"])

In [21]:
# Top songs in '22 based on Spotify playlists

# sort the "in_spotify_playlists" in DESCENDING order.
top_22_Spotify_playlists = songs_22_df.sort_values(by="Spotify Playlists Ranking", ascending=False)

# Format the Column for better readability.
top_22_Spotify_playlists["Spotify Playlists Ranking"] = top_22_Spotify_playlists["Spotify Playlists Ranking"]\
                                                                                                .map("{:,}".format)

top_22_Spotify_playlists[["Track Name", "Artist(s) Name", "Released Year", \
                          "Released Month", "Spotify Playlists Ranking", "BPM", "Key", "Deezer Genre"]].\
                          head(3).style.apply(highlighting, axis=0, subset=["Spotify Playlists Ranking"])

### `Top Songs in 2022 Apple`

In [22]:
# Top songs in '22 based on Apple charts

# sort the "in_apple_charts" in DESCENDING order.
top_22_Apple_charts = songs_22_df.sort_values(by="Apple Charts Ranking", ascending=False) 

top_22_Apple_charts[["Track Name", "Artist(s) Name", "Released Year", \
                    "Released Month", "Apple Charts Ranking", "BPM", "Key", "Deezer Genre"]].\
                    head(3).style.apply(highlighting, axis=0, subset=["Apple Charts Ranking"])

In [23]:
# Top songs in '22 based on Apple playlists

# sort the "in_apple_playlists" in DESCENDING order.
top_22_Apple_playlists = songs_22_df.sort_values(by="Apple Playlists Ranking", ascending=False) 

top_22_Apple_playlists[["Track Name", "Artist(s) Name", "Released Year", \
                        "Released Month", "Apple Playlists Ranking", "BPM", "Key", "Deezer Genre"]].\
                        head(3).style.apply(highlighting, axis=0, subset=["Apple Playlists Ranking"])

### `Top Songs in 2022 Deezer`

In [24]:
# Top songs in '22 based on Deezer charts

# sort the "in_deezer_charts" in DESCENDING order.
top_22_Deezer_charts = songs_22_df.sort_values(by="Deezer Charts Ranking", ascending=False) 

top_22_Deezer_charts[["Track Name", "Artist(s) Name", "Released Year", \
                    "Released Month", "Deezer Charts Ranking", "BPM", "Key", "Deezer Genre"]].\
                    head(3).style.apply(highlighting, axis=0, subset=["Deezer Charts Ranking"])

In [25]:
# Top songs in '22 based on Deezer playlists

# sort the "in_deezer_playlists" in DESCENDING order.
top_22_Deezer_playlists = songs_22_df.sort_values(by="Deezer Playlists Ranking", ascending=False) 

top_22_Deezer_playlists[["Track Name", "Artist(s) Name", "Released Year", \
                        "Released Month", "Deezer Playlists Ranking", "BPM", "Key", "Deezer Genre"]].\
                        head(3).style.apply(highlighting, axis=0, subset=["Deezer Playlists Ranking"])

## Top Songs Prior 2022: ____________________________________________________________________________

In [26]:
# all songs before 2022:
music_prior_df = cleaned_final_music_df[cleaned_final_music_df["Released Year"] < 2022]

### `Top Songs Prior 2022 Spotify`

In [27]:
# Sort the "streams" values in DESCENDING order.
top_prior_streams = music_prior_df.sort_values(by="Spotify Streams", ascending=False) 

# Format the Column for better readability.
top_prior_streams["Spotify Streams"] = top_prior_streams["Spotify Streams"].map("{:,}".format)
                                                                                                
# Display the Specified Columns and Apply the highlight format:
top_prior_streams[["Track Name", "Artist(s) Name", "Released Year", \
                "Released Month", "Spotify Streams", "BPM", "Key", "Deezer Genre"]].\
                head(3).style.apply(highlighting, axis=0, subset=["Spotify Streams"])

In [28]:
# Top songs PRIOR '22 based on Spotify charts

# sort the "in_spotify_charts" in DESCENDING order.
top_prior_Spotify_charts = music_prior_df.sort_values(by="Spotify Charts Ranking", ascending=False)

top_prior_Spotify_charts[["Track Name", "Artist(s) Name", "Released Year", \
                        "Released Month", "Spotify Charts Ranking", "BPM", "Key", "Deezer Genre"]].\
                        head(3).style.apply(highlighting, axis=0, subset=["Spotify Charts Ranking"])

In [29]:
# Top songs PRIOR '22 based on Spotify playlists

# sort the "in_spotify_playlists" in DESCENDING order.
top_prior_Spotify_playlists = music_prior_df.sort_values(by="Spotify Playlists Ranking", ascending=False) 

# Format the Column for better readability.
top_prior_Spotify_playlists["Spotify Playlists Ranking"] = top_prior_Spotify_playlists\
                                                        ["Spotify Playlists Ranking"].map("{:,}".format)

top_prior_Spotify_playlists[["Track Name", "Artist(s) Name", "Released Year", \
                            "Released Month", "Spotify Playlists Ranking", "BPM", "Key", "Deezer Genre"]].\
                            head(3).style.apply(highlighting, axis=0, subset=["Spotify Playlists Ranking"])

### `Top Songs Prior 2022 Apple`

In [30]:
# Top songs PRIOR '22 based on Apple charts

# sort the "in_apple_charts" in DESCENDING order.
top_prior_Apple_charts = music_prior_df.sort_values(by="Apple Charts Ranking", ascending=False) 

top_prior_Apple_charts[["Track Name", "Artist(s) Name", "Released Year", \
                        "Released Month", "Apple Charts Ranking", "BPM", "Key", "Deezer Genre"]].\
                        head(3).style.apply(highlighting, axis=0, subset=["Apple Charts Ranking"])

In [31]:
# Top songs PRIOR '22 based on Apple playlists

# sort the "in_apple_playlists" in DESCENDING order.
top_prior_Apple_playlists = music_prior_df.sort_values(by="Apple Playlists Ranking", ascending=False) 

top_prior_Apple_playlists[["Track Name", "Artist(s) Name", "Released Year", \
                           "Released Month", "Apple Playlists Ranking", "BPM", "Key", "Deezer Genre"]].\
                           head(3).style.apply(highlighting, axis=0, subset=["Apple Playlists Ranking"])

### `Top Songs Prior 2022 Deezer`

In [32]:
# Top songs PRIOR '22 based on Deezer charts

# sort the "in_deezer_charts" in DESCENDING order.
top_prior_Deezer_charts = music_prior_df.sort_values(by="Deezer Charts Ranking", ascending=False) 

top_prior_Deezer_charts[["Track Name", "Artist(s) Name", "Released Year", \
                         "Released Month", "Deezer Charts Ranking", "BPM", "Key", "Deezer Genre"]].\
                         head(3).style.apply(highlighting, axis=0, subset=["Deezer Charts Ranking"])

In [33]:
# Top songs PRIOR '22 based on Deezer playlists

# sort the "in_deezer_playlists" in DESCENDING order.
top_prior_Deezer_playlists = music_prior_df.sort_values(by="Deezer Playlists Ranking", ascending=False) 

# Format the Column for better readability.
top_prior_Deezer_playlists["Deezer Playlists Ranking"] = top_prior_Deezer_playlists\
                                                        ["Deezer Playlists Ranking"].map("{:,}".format)

top_prior_Deezer_playlists[["Track Name", "Artist(s) Name", "Released Year", \
                            "Released Month", "Deezer Playlists Ranking", "BPM", "Key", "Deezer Genre"]].\
                            head(3).style.apply(highlighting, axis=0, subset=["Deezer Playlists Ranking"])

<h1><center>---------- TOP 3 SONGS IN ALL YEARS ---------- </center></h1>

In [34]:
# --------------------------------------------------------------------------------------------------------
# Sort all values for the columns of interest in DESCENDING order
# SPOTIFY ------------------------------------------------------------------------------------------------
top_streams_df = cleaned_final_music_df.sort_values(by="Spotify Streams", ascending=False) 
top_Spotify_charts = cleaned_final_music_df.sort_values(by="Spotify Charts Ranking", ascending=False) 
top_Spotify_playlists = cleaned_final_music_df.sort_values(by="Spotify Playlists Ranking", ascending=False) 

# APPLE ---------------------------------------------------------------------------------------------------
top_Apple_charts = cleaned_final_music_df.sort_values(by="Apple Charts Ranking", ascending=False) 
top_Apple_playlists = cleaned_final_music_df.sort_values(by="Apple Playlists Ranking", ascending=False)

# DEEZER --------------------------------------------------------------------------------------------------
top_Deezer_charts = cleaned_final_music_df.sort_values(by="Deezer Charts Ranking", ascending=False) 
top_Deezer_playlists = cleaned_final_music_df.sort_values(by="Deezer Playlists Ranking", ascending=False) 
# --------------------------------------------------------------------------------------------------------